<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/boot/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/astrograzl.css}" rel="stylesheet">
    <title>DevOps FirstZeroFinish Presentation</title>
  </head>
  <body data-bs-theme="dark">
    <div class="container">
      <header><h1>Welcome to machine!</h1></header>
      <main><!-- more --></main>
    </div>
    <footer><script th:src="@{/boot/js/bootstrap.bundle.min.js}"></script></footer>
  </body>
</html>